body {
  padding: 0;
  margin: 0 ;
}
.App {
  min-height: 100vh;
  height:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
h2 {
  font-size: 25px;
  color: forestgreen
}
.header-nav {
  background-color: #AAA;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
input {
  width: 250px;
  height:35px;
  border-radius: 10px;
  outline:none;
  box-sizing: border-box;
  transition: 0.3s;
  border: 2px solid #AAA;
}
table {
	border-collapse: collapse;
  font-family: Tahoma, Geneva, sans-serif;
}
table td {
	padding: 15px;
}
table thead tr th {
	background-color: #63b186;
	color: #f1ecec;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
  padding: 10px 20px
}
table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
	background-color: #f0ecec;
}
.rank {
  text-align: center;
  font-weight: bold;
}
.logo{
  display: flex;
  justify-content: flex-start;
  padding-left: 10%;
  gap: 10px;
}
.symbol {
  text-align: center;
 }
 img {
  width: 40px;
 }